body{
    margin: 0;
    padding: 0;
    background-color: #171333;
    color: aliceblue;
    box-sizing: border-box;
}

.score_border{
    margin: 1% auto;
    padding: 2%;
    border: 3px solid white;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    height: auto;
    line-height: 1.5;
}

.score{
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid white;
    padding: 2%;
    border-radius: 10px;
}

.sco{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 30%;
    margin-right: 40%;
}

.PlayArea{
    /* width: 450px; */
    /* border :3px solid white; */
    /* margin: 17% auto;
    background-size: contain; */
    /* height: auto;
    position: relative;
    box-sizing: border-box; */
    position:absolute;
            width: 50%;
            height: 50%;
            top: 50%;
            left: 25%;
           
   
}

.Image1,.Image2 ,.Image3{
    width: 100px;
    border:2em solid;
    border-radius: 50%;
    padding: 2%;
    background-color: antiquewhite;
    display:absolute;
   
}
.Image1{
    position: absolute;
            width: 20%;
            height: 30%;
            bottom: -20%;
            left: 30%;
            border-radius: 50%;
            background-color: #fff;
            padding: 10px;
}
.Image2{
    position: absolute;
            width: 20%;
            height: 30%;
            top: -20%;
            right: -10%;
            border-radius: 50%;
            background-color: #fff;
            padding: 10px;
}

.Image3{
   
    position: absolute;
            width: 20%;
            height: 30%;
            top: -20%;
            left: -10%;
            border-radius: 55%;
            background-color: #fff;
            padding: 10px;
}
.Image4{
    position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
}

.btn{
    position:absolute;
    bottom: -10%;
    left: 0px;
    width: 15%;
    background-color: #fff;
    border-radius: 5%;
    border: 2px solid #000;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1%;
    margin: auto;

}

.btn:hover{
    background-color: #000;
    color: #fff;
}

.btn1{
    
    width: 90%;
    background-color: #fff;
    border-radius: 5%;
    border: 2px solid #000;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1%;
    margin:80px 30px;

}
.imge{
    text-align: center;
    width: 100px;
    border:2em solid;
    border-radius: 50%;
    padding: 2%;
    background-color: antiquewhite;
    margin-left:20px;
}
.message{
    font-size: 2rem;
    font-weight: bold;
    padding: 2%;
    margin: auto;
    width: 45%;
}
.rules{
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid white;
    padding: 2%;
    border-radius: 10px;
    width: 30%;
}
.images{
    width: 30%;
    margin:auto;
    display: flex;
    justify-content: center;
}
.modal{
    display: flex;
            width: 50%;
            margin:auto;
            
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-top: 10%;
}
.rules{
    width: 300px;
    height: 300px;
    
    /* background-color: aliceblue; */
}
.ab2{
    position: fixed;
    top: 23%;
    right: 38%;
    width: 20px;
    height:20px;
    cursor: pointer;
    background-color: aliceblue;
}
@media only screen and (max-width:600px) {
    .images{
        width :50%;
    }
    
}